{% extends "layout.html" %}
{% block content %}
  <div class="upload_file">
    <h1>Convert transactions CSV files</h1>
    <p>Transform a <b>DEGIRO</b> transactions CSV file to a CSV format suitable for importing into a <b>Simply WallSt</b> transactions portfolio.</p>
    <h4>Usage</h4>
    <p>
      <ol>
        <li><i>Select the transactions CSV file exported from DEGIRO.</i></li>
        <li><i>Select the currency used by the destination Simply WallSt portfolio. Other currencies are filtered out.</i></li>
        <li><i>Clicking convert will prompt with a CSV-file to download. This file can be used in Simply WallSt to create or update a portfolio.</i></li>
      </ol>
    </p>
    <h1>Convert a new File</h1>
    <form method=post enctype=multipart/form-data>
      <!-- <p>1. Broker platform: -->
      <select id="broker" name="broker" hidden>
        <option value="degiro">DEGIRO</option>
      </select>
      <!-- </p> -->
      <p>1. Transaction CSV file:
      <input type=file name=file>
      </p>
      <p>2. Currency:
      <select id="currency" name="currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
      </select>
      </p>
      <p>3.
      <input type=submit value=Convert>
      </p>
    </form>
    <h1>About</h1>
    <p>For more information, or help, see the <a href="/about">about</a> section.</p>
  </div>
{% endblock %}